$color: purple;

ol {
    font-size: 18px;
    color: $color;
}

h2 {
    color: blue;
    text-align: left;
}

%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.bronson {
    @extend %message;
    background-color: green;
}

.buddy {
    @extend %message;
    background-color: orange;
}

.bboy {
    @extend %message;
    background-color: magenta;
}

div {
    font-size: 18px;

    p {
        color: blue;
    }

    ol {
        color: green;
    }

    ul {
        color: purple
    }
}
